In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler  , LabelEncoder
from sklearn.linear_model import LogisticRegression
import pickle 

# load the dataset
#data = pd.read_csv(r"C:\Users\ajaym\2_ANN\bank.csv")
data= pd.read_csv(r"C:\Users\ajaym\OneDrive\Desktop\dataset\bank2.csv")
data.head()

     ID         Name  Age  Income    Loan  Risk
0  C001  Rahul Singh   28   45000  200000   Low
1  C002  Priya Mehta   42   30000  350000  High
2  C003  Arjun Verma   35   55000  150000   Low
3  C004  Neha Sharma   50   25000  400000  High
4  C005  Karan Patel   29   60000  250000   Low

In [9]:
## preprocees the data 
data= data.drop(["ID", "Name"], axis = 1 )
data.head()

lb_risk = LabelEncoder()
data["Risk"] = lb_risk.fit_transform(data["Risk"])
data.head()

   Age  Income    Loan  Risk
0   28   45000  200000     1
1   42   30000  350000     0
2   35   55000  150000     1
3   50   25000  400000     0
4   29   60000  250000     1

In [ ]:
## save the lb 
with open("lb_risk.pkl", "wb") as file:
    pickle.dump(lb_risk,file)

In [ ]:
## divide depende  nt and independent feature
X= data.drop("Risk", axis=1)
y=data["Risk"]
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2 , random_state=42)

scaler= StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

with open("scaler.pkl", "wb") as file:
    pickle.dump(scaler,file)

In [ ]:
## ANN model  implement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [ ]:
model = Sequential([
    Dense(64, activation="relu",input_shape=(X_train.shape[1],)),   ## 1st hidden layer connect with input
    Dense(32, activation="relu"),                                  ## 2nd  hidden layer
    Dense(1, activation="sigmoid")                                  ## output layer
])

In [ ]:
## compile the model
import  tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss= tensorflow.keras.losses.BinaryCrossentropy()
model.compile(optimizer=opt, loss="binary_crossentropy", metrics=["accuracy"])

In [ ]:
## setip tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)
early_stopping_callback = EarlyStopping(monitor="val_loss", patience=5, restore_best_weights=True)

In [ ]:
history= model.fit(X_train, y_train, epochs=100,  callbacks=[tensorboard_callback, early_stopping_callback])

In [ ]:
model.save("model.h5")

In [7]:
## load tensorboard extension 
%load_ext tensorboard
%tensorboard --logdir logs/fit20260222-230250

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 14056), started 16:00:08 ago. (Use '!kill 14056' to kill it.)